<div class="login-bg">
  <div class="gif-bottom-left"></div>
  <div class="login-container">
    <h2 *ngIf="!showResetForm">Login</h2>
    <h2 *ngIf="showResetForm">Reset Password</h2>

    <!-- Login Form (only show if reset form is false) -->
    <form *ngIf="!showResetForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="loginData.email"
          required
        />
      </div>

      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="loginData.password"
          required
        />
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>

      <!-- Error & Forget Password Link -->
      <div *ngIf="loginFailed" class="forget-password">
        <!-- <p style="color:red;">Invalid email or password</p> -->
        <a (click)="showResetForm = true" class="link-btn">Forget Password?</a>
      </div>
    </form>

    <!-- Reset Password Form (only show if reset form is true) -->
    <form *ngIf="showResetForm" (ngSubmit)="resetPassword()" #resetForm="ngForm" class="reset-form">
      <div>
        <label for="resetEmail">Email:</label>
        <input
          type="email"
          id="resetEmail"
          name="resetEmail"
          [(ngModel)]="resetData.email"
          required
        />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="resetData.newPassword"
          required
        />
      </div>
      <button type="submit" [disabled]="!resetForm.valid">Reset</button>

      <!-- Back to Login link -->
      <p>
        <a (click)="showResetForm = false; loginFailed = false" class="btn-link">Back to Login</a>
      </p>
    </form>

    <p class="signup-text" *ngIf="!showResetForm">
      Don't have an account?
      <a routerLink="/signup">Sign Up</a>
    </p>
  </div>
</div>
